@charset "utf-8";
@import url(./fonts.css);
@import url(./reset.css);

#wrap {width:100%;}
button{cursor: pointer;}

/* 헤더 */
#wrap #header {width:100%;border-bottom:1px solid #5f0080;padding:0 0 10px 0;position:relative;z-index:3;}
#wrap #header .container {width:100%;}
#wrap #header .container .wrap {width:100%;}

/* 팝업 */
#wrap #header .container .wrap .popup {width:100%;}
#wrap #header .container .wrap .popup .popup-container {width:100%;position:relative;}
#wrap #header .container .wrap .popup .popup-container > a {
  display:block;width:100%;background:#5f0080;text-align:center;color:#fff;
  font-size:14px;font-weight:600;letter-spacing:-0.7px;position:relative;z-index:1;
}
#wrap #header .container .wrap .popup .popup-container > a > span {display:block;height:42px;line-height:42px;}
#wrap #header .container .wrap .popup .popup-container > a > span > i {vertical-align:baseline;}
#wrap #header .container .wrap .popup .popup-container > a > span > i > img {width:42px;height:42px;margin:-4px 0 0 -5px;}
/* 닫기 */
#wrap #header .container .wrap .popup .popup-container > span {z-index:2;position:absolute;top:0;left:50%;width:42px;height:42px;margin-left:483px;}
#wrap #header .container .wrap .popup .popup-container > span > button {width:100%;}
#wrap #header .container .wrap .popup .popup-container > span > button > img {width:100%;}

/* 로고 */
#wrap #header .container .wrap h1 {text-align:center;}
#wrap #header .container .wrap h1 a img {width:110px;}


/* 메인 */
#wrap #main {width:100%;position:relative;z-index:2;}
#wrap #main #member {width:100%;border-bottom:1px solid #efefef;}
#wrap #main #member .container {width:640px;margin:0 auto;}
#wrap #main #member .container .wrap {width:100%;}
/* 타이틀 */
#wrap #main #member .container .wrap .title {width:100%;text-align:center;padding:40px 0 30px 0;}
#wrap #main #member .container .wrap .title h2 {font-size:24px;font-weight:500;color:#333;}

/* 폼 콘텐츠 */
#wrap #main #member .container .wrap .content {width:100%;}
#wrap #main #member .container .wrap .content form {width:100%;}
#wrap #main #member .container .wrap .content ul#memberForm {width:100%;}
#wrap #main #member .container .wrap .content ul#memberForm > li {width:100%;}
/* 소 타이틀 */
#wrap #main #member .container .wrap .content ul#memberForm > li > h3 {text-align:right;width:100%;font-size:12px;border-bottom:2px solid #333;padding:0 0 10px 0;}
#wrap #main #member .container .wrap .content ul#memberForm > li > h3 > i {color:#ee6a7b;}
#wrap #main #member .container .wrap .content ul#memberForm > li > h3 > span {color:#666;margin:0 0 0 2px;}

/* 폼 요소 */
#wrap #main #member .container .wrap .content ul#memberForm > li {display:flex;padding:10px 0;}

/* 왼쪽박스 */
#wrap #main #member .container .wrap .content ul#memberForm > li .left {width:159px;padding:0 0 0 25px;}
#wrap #main #member .container .wrap .content ul#memberForm > li .left label {height:45px;display:flex;align-items:center;}
#wrap #main #member .container .wrap .content ul#memberForm > li .left label span {color:#333;font-size:15px;}
#wrap #main #member .container .wrap .content ul#memberForm > li .left label i {color:#ee6a7b;font-size:15px;margin:0 0 0 2px;}

/* 오른쪽박스 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right {width:481px;padding:0 159px 0 0;position:relative;}
/* 텍스트상자 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right input[type='text'] {width:100%;height:45px;border:1px solid #ccc;padding:0 15px;color:#444;border-radius:3px;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right input[type='text']:focus {outline:1px solid #444;outline-offset:-1px;}
/* 비밀번호 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right input[type='password'] {width:100%;height:45px;border:1px solid #ccc;padding:0 15px;color:#444;border-radius:3px;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right input[type='password']:focus {outline:1px solid #444;outline-offset:-1px;}
/* 이메일 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right input[type='email'] {width:100%;height:45px;border:1px solid #ccc;padding:0 15px;color:#444;border-radius:3px;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right input[type='email']:focus {outline:1px solid #444;outline-offset:-1px;}
/* 안내텍스트 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right input[type='text']::placeholder {color:#bbb;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right input[type='password']::placeholder {color:#bbb;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right input[type='email']::placeholder {color:#bbb;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right input[type='email'].error {outline:1px solid #b3130b;outline-offset:-1px;}

/* 주소 입력상자 */
#wrap #main #member .container .wrap .content ul#memberForm > li.address .right input[type='text'] {margin:0 0 5px 0;display:block;}


/* 오른쪽박스 - 오른쪽 버튼 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right button {position:absolute;top:0;right:34px;width:120px;height:45px;background:#fff;color:#5f0080;font-size:14px;border:1px solid #5f0080;border-radius:3px;}

/* 휴대폰 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right button.phone-btn {color:#ccc;border:1px solid #ccc;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right button.phone-btn.on {color:#5f0080;border:1px solid #5f0080;}

/* 휴대폰인증 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right button.phone-btn.phone-ok-btn {top:55px;display:block;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right button.phone-btn.phone-ok-btn.on {color:#5f0080;border:1px solid #5f0080;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right button.phone-btn.phone-ok-btn.ok {color:#ccc;border:1px solid #ccc;color:#cccc;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right input[type='text']#inputPhoneok {margin-top:10px;display:block;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right input[type='text']#inputPhoneok.ok::placeholder {color:rgba(0,0,0, 0)}

/* 카운트 타이머 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right .count-timer {position:absolute;top:70px;right:175px;color:#b3130b;font-size:15px;font-weight:500;display:block;}



/* 주소검색버튼 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right button.address-btn {position:relative;left:0;top:0;width:100%;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right button.address-btn span {font-size:15px;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right button.address-btn span img {width:auto;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right p.address-guidetext {font-size:12px;color:#666;padding:10px 0 0 0;}

/* 주소 가이드 텍스트 셋별배송 택배배송 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right .guide-text.guide-transfer {display:none;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right .guide-text.guide-transfer.on {display:block;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right .guide-text.guide-transfer h4 {display:block;color:#5f0080;font-weight:600;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right .guide-text.guide-transfer h4.not {color:#ccc;}



/* 성별 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right.gender {height:45px;display:flex;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right.gender label:nth-child(1) {margin:auto auto auto 0;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right.gender label:nth-child(2) {margin:auto;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right.gender label:nth-child(3) {margin:auto 0 auto auto;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right.gender label input[type='radio'] {appearance:none;border:1px solid #ccc;width:24px;height:24px;border-radius:50%;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right.gender label input[type='radio']:checked {border-width:6px;border-color:#5f0080;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right.gender label span {margin:0 0 0 3px;font-size:15px;user-select:none;}

/* 생년월일 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right .date-box {width:100%;height:45px;border:1px solid #ccc;display:flex;align-items:center;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right .date-box ul {display:flex;text-align:center;height:100%;padding:0 15px;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right .date-box ul li:nth-child(odd) {width:30%;height:100%;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right .date-box ul li:nth-child(even) {width:5%;height:100%;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right .date-box ul li input[type='text'] {width:100%;border:0;height:100%;text-align:center;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right .date-box ul li input[type='text']:focus {outline:0;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right .date-box ul li span {font-size:15px;color:#999;display:flex;align-items:center;height:100%;width:100%;text-align:center;}

/* 추가입력 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right.gender.add {display:flex; flex-flow:row wrap; height: auto;} 
#wrap #main #member .container .wrap .content ul#memberForm > li .right.gender.add label:nth-child(1) {margin:auto auto auto 0;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right.gender.add label:nth-child(2) {margin:auto 0 auto auto;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right.gender.add .add-input-box {width:100%;padding:10px 0;display:inline-block; height: auto; position: relative;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right.gender.add .add-input-box p {margin-top: 10px; font-size: 12px; line-height: 150%;}
#wrap #main #member .container .wrap .content ul#memberForm > li.add-inpu-item .right {height: auto;} 
#wrap #main #member .container .wrap .content ul#memberForm > li.add-inpu-item .right p {line-height:150%;padding:15px 0 0 0;font-size:12px;letter-spacing:-1px;} 
#wrap #main #member .container .wrap .content ul#memberForm > li.add-inpu-item .left label {height:auto;padding:7px 0;} 




/* 체크박스 바로 위쪽 구분선 */
#wrap #main #member .container .wrap .content ul#memberForm > li hr {width:100%;border:0;border-bottom:1px solid #333;}
/* 체크박스 아래쪽 구분선 */
#wrap #main #member .container .wrap .content ul#memberForm > li.bottom-line hr {border-color:#e0e0e0;}

/* 체크박스 이용약관동의 */
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right {padding:0;}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol {width:100%;}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li {width:100%;padding:10px 0;}

#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li label {display:block;width:100%;z-index:1;position:relative;}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li label input[type='checkbox'] {
  appearance:none;width:24px;height:24px;border-radius:50%;background:url(../images/ico_checkbox.svg) no-repeat 50% 50%;background-size:24px 24px;  
}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li label input[type='checkbox']:checked {background-image:url(../images/ico_checkbox_checked.svg);}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li label span {margin:0 0 0 5px;font-size:15px;user-select:none;}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li label span i {color:#aaa;}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li:first-child label span {font-size:18px;font-weight:600;color:#666;}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li p {padding:5px 0 0 33px;font-size:12px;color:#666;letter-spacing:-0.5px;user-select:none;}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li dl {padding:0 0 0 33px;}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li dl dd {padding:10px 0;display:flex;}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li dl dd label {width:30%;}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li dl dd label span {font-size:15px;user-select:none;}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li dl dt {padding:0 0;}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li dl dt p {
  margin:5px 0 0 31px;padding:0 0 0 15px;font-size:12px;color:#5f0080;letter-spacing:-0.5px;user-select:none;
  background:url(../images/ico_sub_dot.svg) no-repeat 0 50%;
}


/* 약관보기 */
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li.view-box {position:relative;}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li.view-box span.view-btn-box {position:absolute;right:25px;top:10px;z-index:2;}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li.view-box span.view-btn-box a {color:#5f0080;font-size:14px;}
#wrap #main #member .container .wrap .content ul#memberForm > li.check-box .right ol li.view-box span.view-btn-box a i {font-size:15px;vertical-align:baseline;margin:0 0 0 2px;}

/* 가이드 텍스트 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right .guide-text {width:100%;padding:10px 0 0 0;line-height:140%;display:block;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right .guide-text p {font-size:12px;color:#666;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right .guide-text p::before {content:'\2022';display:inline-block;margin:0 7px 0 0;font-size:12px;}

/* 에러발생인경우 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right .guide-text p.error {color:#b3130b}
#wrap #main #member .container .wrap .content ul#memberForm > li .right .guide-text p.error::before {content:'\2715';color:#b3130b;margin:0 3px 0 0;}

/* 에러없는경우 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right .guide-text p.success {color:#0f851a}
#wrap #main #member .container .wrap .content ul#memberForm > li .right .guide-text p.success::before {content:'\2714';color:#0f851a;margin:0 3px 0 0;}

/* 버튼박스 */
#wrap #main #member .container .wrap .content ul#memberForm > li.button-box {padding:40px 0 60px 0;width:100%;}
#wrap #main #member .container .wrap .content ul#memberForm > li.button-box > button {width:250px;height:60px;background:#5f0080;color:#fff;font-size:18px;font-weight:600;margin:0 auto;border-radius:3px;transition:all .3s;}
#wrap #main #member .container .wrap .content ul#memberForm > li.button-box > button:hover {filter:brightness(120%);}


/* 생년월일 가이드 텍스트 */
#wrap #main #member .container .wrap .content ul#memberForm > li .right .guide-text.guide-birthday-confirm {display:block;}
#wrap #main #member .container .wrap .content ul#memberForm > li .right .guide-text.guide-birthday-confirm p {display:block;}






/* 푸터 */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////푸터 영역 /////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#wrap #footer {width: 100%; position: relative; z-index: 1;}
/* 푸터 상단 정보 */
#wrap #footer .top{width: 100%; border-top: 1px solid #eee;}
#wrap #footer .top .container{width: 1050px; margin: 0 auto;}
/* 컬리에 대한 정보 */
#wrap #footer .top .container .info-box{width: 100%; padding: 0 0 24px 0; display: flex;}
#wrap #footer .top .container .info-box .left{width: 50%;}
#wrap #footer .top .container .info-box .left h2{padding: 30px 0 0 0; font-size:20px; font-weight: 600;}
/* 하단 customer service center  안내 영역 */
#wrap #footer .top .container .info-box .left .cs {padding: 16px 0 0 0; display: flex;}
#wrap #footer .top .container .info-box .left .cs.cs1 {padding: 25px 0 0 0; }
#wrap #footer .top .container .info-box .left .cs .tit {width: 140px; height: 40px; margin:0 16px 0 0; padding: 4px 0 0 0;}
#wrap #footer .top .container .info-box .left .cs span.tit {font-size: 28px; letter-spacing: -0.5px; font-weight: 700;}
#wrap #footer .top .container .info-box .left .cs a.tit {border: 1px solid #e3e3e3; font-size: 14px; text-align: center; font-weight: 500; padding: 11px 0 0 0; border-radius:5px;}
#wrap #footer .top .container .info-box .left .cs dt {font-size: 14px; line-height: 20px;}
#wrap #footer .top .container .info-box .left .cs dd {font-size: 14px; color: #999; line-height: 20px;}
#wrap #footer .top .container .info-box .left .cs p {font-size: 14px; color: #999; line-height: 40px;}



#wrap #footer .top .container .info-box .right{width: 50%; padding: 0 0 0 5px;}
#wrap #footer .top .container .info-box .right ul.shortcut {padding: 30px 0 0 0; display: flex;}
#wrap #footer .top .container .info-box .right ul.shortcut li{padding: 0 16px 0 0;}
#wrap #footer .top .container .info-box .right ul.shortcut li a {font-size: 14px; letter-spacing: -0.5px;}

#wrap #footer .top .container .info-box .right ul.company-ex {padding: 30px 0 0 0;}
#wrap #footer .top .container .info-box .right ul.company-ex li {font-size : 12px; line-height: 20px;}
#wrap #footer .top .container .info-box .right ul.company-ex li p {color: #999;}
#wrap #footer .top .container .info-box .right ul.company-ex li p a {color: #5f0080; vertical-align: baseline;}

#wrap #footer .top .container .info-box .right ul.company-sns {padding: 45px 0 0 0; display: flex;}
#wrap #footer .top .container .info-box .right ul.company-sns li {width: 40px;}
#wrap #footer .top .container .info-box .right ul.company-sns li a img{width: 30px;}

/* 하단부 로고랑 링크 */
#wrap #footer .top .container .icon-box{width: 100%; padding: 20px 0 24px 0; width: 100%; border-top: 1px solid #eee; display: flex;}
/* 공통스타일 */
#wrap #footer .top .container .icon-box a{display: flex;}
#wrap #footer .top .container .icon-box img{height: 34px; margin: 0 10px 0 0;}
#wrap #footer .top .container .icon-box p {font-size: 10px; color: #999; line-height: 150%;}
/* 개별영역 */
#wrap #footer .top .container .icon-box .left{width: 25%;}
#wrap #footer .top .container .icon-box .center{width:25%;}
#wrap #footer .top .container .icon-box .right{width: 50%;}
/* 제일 하단 안내 문구 */
#wrap #footer .bottom{padding: 20px 0 28px 0; background-color: #f7f7f7;}
#wrap #footer .bottom p{font-size: 10px; text-align: center; line-height: 16px; letter-spacing: -0.5px; color: #999;}
#wrap #footer .bottom em{display: block; font-size: 10px;text-align: center; line-height: 25px; letter-spacing: -0.5px; color: #999;}



/* 모달창 */
#modal {z-index:5;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0, .4);display:flex;}
#modal.show {display:flex;}
#modal .container {width:500px;height:300px;background:#fff;margin:auto;}
#modal .container ul {padding:25px;width:100%;height:200px;}
#modal .container ul li {width:100%;}
#modal .container ul li:nth-child(1) {height:50px;display:flex;border-bottom:1px solid #ccc;}
#modal .container ul li:nth-child(2) {height:125px;display:flex;}
#modal .container ul li h2 {margin:auto auto auto 0;font-size:16px;font-weight:600;color:#5f0080;user-select: none;}
#modal .container ul li button.close-btn {margin:auto 0 auto auto;}
#modal .container ul li p {margin:auto;font-weight:500;user-select: none;}

#modal .container div.button-box {width:100%;height:100px;background:#f7f7f7;display:flex;}
#modal .container div.button-box button.ok-btn {width:150px;height:45px;background:#5f0080;color:#fff;font-weight:500;font-size:17px;margin:auto;}


